body{
    min-width: 50%;
    
}
@font-face {
    font-family: autumn-flower;
    src: url(fonts/AutumnFlowers-9YVZK.otf);
}
@font-face {
    font-family: dancingscript;
    src: url(fonts/DancingScript-VariableFont_wght.ttf);
}
.nav-bar{
    height:70px;
    width: 100%;
    max-width: 1500px;
    background-color:rgba(7, 84, 28, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-logo{
    font-size: 55px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    font-family: autumn-flower;

}
.nav-bar-toggle{
    display: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding-right: 20px;
}
.nav-bar-links{
    display: flex;
    /* justify-content: space-evenly; */
    column-gap: 50px;
    padding-right: 10px;
}
.nav-bar-links li{
    list-style-type: none;

}
.nav-bar-links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: italic;
}

/* responsive design*/
@media(max-width:962px){
    .nav-bar-links{
        display: none;
    }
    .nav-bar-toggle{
        display: block;

    }
    .drop-down {
        display: block;
    }
}

/*dropdownmenu*/
.drop-down{
    display: none;
    position: absolute;
    right: 10px;
    top: 80px;
    min-width: 30%;
    background-color:rgba(7, 84, 28, 0.35) ;
    /* backdrop-filter: blur(165px); */
    border-radius: 5px;
    z-index: 1;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.drop-down li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}
.drop-down a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    /* font-weight: 600; */
}
.drop-down a:hover{
    transform: scale(1.1);
}

@media(max-width:962px){
    .nav-bar-links{
        display: none;
    }
    .nav-bar-toggle{
        display: block;

    }
    .drop-down {
        display: block;
    }
}

.container{
    margin-top: 10px;
    display: flex;
    position: relative;
    flex-direction: row;
    
    height: 700px;
    min-width: 50%;
    justify-content: center;   
   
    
    /* border: 2px solid black; */

 &::before { 
    position: absolute;
    content: "";   
    background-image: url(images/home.jpeg); 
    background-repeat: no-repeat;
    object-fit:cover;
    background-clip:border-box;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left:0px;
    background-size: 1500px 700px;
    opacity: 0.9;
    }
}
.start{
z-index: 1;
margin-top: 200px;
max-height: 400px;
/* border: 1px solid black; */
align-items: center;
   
}
.start p{
    font-size: 60px; 
    font-family: Recoleta;
    color:black;
    line-height: 0.7px;
    text-align: center;   
}
.start .sub-title{
font-size: 25px;
font-weight: bold;
 color:black;
 text-align: center;
}

.b{
   
    font-size: 3px;
}
.start button{
    min-height: 50px;
    width: 200px;
    background-color:white;
    border: 1px solid white;
    margin-top: 50px;
    margin-left: 200px;
    position: relative;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-style: bold;   

} 
button a{
    text-decoration: none;
    color: black;   
} 
@media(max-width:665px){
    .start p{
        font-size: 35px;
        color: white;
    }
    .start .sub-title{
        font-size: 15px;
        color: white;
    }
    .start button{
        margin-left: 100px;
    }
    
}
#aboutus{
    margin-top: 15px;
    min-width: 50%;
    min-height: 50%;   
}
.aboutus-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   justify-content: space-around;
    background-color: rgb(224, 230, 232);   
    padding: 10px;
}
.aboutus{
    min-width: 10%;
    font-size: 20px;
    line-height: 35px;
    justify-content: space-evenly;
    padding: 10px;   
}
#aboutus img{
    margin-right: 20px;
    border-radius: 20px;
    height: 50vh;
    width: 65vh;
    border: 5px solid rgba(7, 84, 28, 0.7);   
}
#queries div{
    font-size: 23px;
    line-height: 40px;
    color: rgb(0, 0, 0);
    padding-left: 30px;
    padding-top: 10px;   
}
.queries{
    height: 60vh;
    min-width: 50%;
    /*  */
    background-color: rgb(224, 230, 232);   
}
label{
    font-size: 18px;
    padding: 5px;   
}
form{
    height: 150%;
    min-width: 50%;
    padding-left: 30px;
    padding-top: 10px;   
}
input{
    min-width: 50%;
    height: 2%;
    padding: 7px;   
}
.queries button{
    width: 40%;
    height: 5%;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    align-self: stretch;   
}

#submit{
    height: 6%;
    background-color:rgba(7, 84, 28, 0.6) ;
    color: white;
    font-size: 20px; 
    border: none;  
}
.ftr{
    margin-top: 10px;
    min-height: 40vh;
    min-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(7, 84, 28, 0.7);
    justify-content: space-between;      
}
.ftrlink a{
 text-decoration: none;
 color: rgb(0, 0, 0);

}
#followuson{
    margin-right: 25px;
}
#followuson #img{
    height: 30px;
    width: 30px;   
}
 .container1{
   background-color:rgb(224, 230, 232);
   min-height: 400px;
   min-width: 50%;
   margin-top: 20px;   

} 
.row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 400px;
    min-width: 50%;

    justify-content: space-evenly; 
    align-items: center;
    row-gap: 10px;  
    padding: 10px; 
} 
.row1-items{
    height: 350px;
    width: 280px;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;  
} 
.row1-items p{
    font-size: 15PX;
    text-align: center; 
    margin-top: -10PX;   

}
.row1-items a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;   
}
#imgs{
    width: 280px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;   
}
.row1-items:hover{
    transform:scale(1.01);
}
.title{
    color: rgba(7, 84, 28, 0.9);
    font-size: 50px;
    font-weight: 1000;
    font-family: dancingscript;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
